# PlatformIO / Firmware
.pio/
.pio
*.elf
*.bin

# Python
.venv/
__pycache__/

# Node / App
node_modules/
.expo/
dist/

# IDE & OS
.vscode/
.idea/
*.swp
~$*

# Android build outputs
android/app/build/
*.apk
